<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ced_adminui_event_delete">
        <observer name="ced_delete_adminui"
                  instance="Ced\Adminui\Observer\GetDelete"/>
    </event>
</config>